<div class="logo text-center">
    <h1>CREATE ADMIN</h1>
</div>

<div class="registration-form m-3 p-4">
    <form [formGroup] = "registrationForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Isim</mat-label>
                    <input formControlName="adminName" matInput placeholder="John">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Sirket</mat-label>
                    <input formControlName="company" matInput placeholder="NETAS">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="johnjoe@netas.com.tr" required>
                    <mat-error *ngIf="emailFormControl.invalid">
                        Lütfen To Değişkeni Giriniz.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Şifre</mat-label>
                    <input formControlName="emailPassword" matInput placeholder="">
                </mat-form-field>
            </div>
        </div>
        <div class="text-center">
            <button *ngIf="!isUpdateActive" (click)="submit()" class="mt-4" mat-raised-button mat-button color="accent">Submit</button>
        </div>
        <div class="text-center">
            <button *ngIf="isUpdateActive" (click)="update()" class="mt-4" mat-raised-button mat-button color="accent">Update</button>
        </div>
    </form>
</div>