<div class="login-container">
    <div class="logo text-center">
      <h1>LOGIN</h1>
    </div>
  
    <div class="login-form m-3 p-4">
      <form [formGroup]="loginForm">
        <div class="text-center">
          <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Username</mat-label>
            <input formControlName="email" matInput placeholder="Username">
          </mat-form-field>
        </div>
  
        <div class="text-center">
          <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Password</mat-label>
            <input formControlName="emailPassword" type="password" matInput placeholder="Password">
          </mat-form-field>
        </div>
  
        <div class="text-center">
          <button (click)="submit()" mat-raised-button mat-button color="accent" class="mt-4">Login</button>
        </div>
      </form>
    </div>
  </div>
  