<!-- navbar with  logo
  <mat-toolbar color="primary">
  <div class="netas-navbar-logo-text-center">
    <img src="assets/netas-logo.png" alt="netas">
  </div>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent">
    View Enquiries
  </button>
</mat-toolbar>
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
    <router-outlet class="login"></router-outlet>
    <div class="container-fluid overflow-hidden">
      <div class="row vh-100 overflow-auto">
        <!-- NAVBAR CONTENT -->
          <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
              <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                  <a routerLink="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <img class="netas-navbar-logo" src="assets/netas-logo.png" alt="Company Logo">
                  </a>
                  
                  <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                      <li>
                        <a routerLink="/logout" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-box-arrow-right"></i><span class="ms-1 d-none d-sm-inline">Logout</span> </a>
                      </li>
                      <li>
                          <a routerLink="/admin-list" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                              <i class="fs-5 bi-tools"></i><span class="ms-1 d-none d-sm-inline">Admin</span> </a>
                      </li>
                      <li>
                          <a routerLink="/company-list" class="nav-link px-sm-0 px-2">
                              <i class="fs-5 bi-buildings"></i><span class="ms-1 d-none d-sm-inline">Şirket</span></a>
                      </li>
                      <li>
                        <a routerLink="/event-list" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Olay</span></a>
                      </li>
                      <li>
                        <a routerLink="/employee-list" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Çalışan</span></a>
                      </li>
                      <!--
                        <li class="dropdown">
                          <a routerLink="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Olay Listele</span>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                              <li><a class="dropdown-item" routerLink="#">New project...</a></li>
                              <li><a class="dropdown-item" routerLink="#">Settings</a></li>
                              <li><a class="dropdown-item" routerLink="#">Profile</a></li>
                              <li>
                                  <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" routerLink="#">Sign out</a></li>
                          </ul>
                        </li>
                      -->
                  </ul>
              </div>
          </div>
          <!-- MAIN CONTENT -->
          <div class="col d-flex flex-column h-sm-100">
            <main class="row">
              <div class="col pt-4">
                <mat-toolbar color="primary">
                  <h1 routerLink="">NETAS Celebration App</h1>
                  <span class="example-spacer"></span>
                </mat-toolbar>
                <router-outlet></router-outlet>
                <ng-toast></ng-toast> <!--<lib-ng-toast> yapısı calismadi!-->
                <ng-confirm></ng-confirm>
              </div>
            </main>
          </div>
      </div>
    </div>
  </body>
</html>